Jinja2==3.0.0
MarkupSafe==2.0.0
aiohttp
bs4
certifi==2020.12.5
chardet==4.0.0
cryptg
cryptography~=3.2.1
hachoir
idna==2.10
pillow
psutil
pycryptodome==3.9.8
python-socks[asyncio]
pytz
requests
rsa
telethon
urllib3
